.infoo {
  padding: 0px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.activeinfo {
  padding-left: 240px;
}

.channel {
  display: flex;
  flex-direction: row;
}
.channel h1 {
  color: black;
  font-weight: 600;
}

.channel p {
  font-size: 0.8rem;
  color: #606060;
  font-weight: 400;
}

.channelinfo {
  margin-left: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.subbtn {
  width: 130px;
  margin: 2px 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  background-color: black;
  border-radius: 25px;
  font-size: 0.9rem;
}
.subbtn:hover {
  cursor: pointer;
  background-color: rgb(34, 34, 34);
}

.buttons {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.thumb {
  margin-left: 110px;
  margin-right: 45px;
}

.btn {
  font-size: 1rem;
  width: 100px;
  margin-right: 45px;
  margin-top: 2rem;
  /* width: fit-content; */
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.5rem;
  color: blanchedalmond;
  background-color: black;
}

.dropdown-menu {
  padding: 10px;
}

.dropdown-option{
    font-size: 1.2rem;
    padding: 5px;
    outline: none;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
}
.dropdown-option:hover{
    cursor: pointer;
    color: burlywood;
}



.dislike {
  font-size: 1rem;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.share {
  font-size: 1rem;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 20px;
}

.share:hover {
  cursor: pointer;
}

.description {
  font-size: 1rem;
  padding: 15px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 110px;
  margin-right: 40px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.descactive {
  margin-left: 250px;
}

.description:hover {
  cursor: pointer;
}

.description p {
  font-weight: 600;
  color: black;
}

.less {
  margin-top: 10px;
  overflow: hidden;
  max-height: 4.4rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  pointer-events: none;
}

.more {
  margin-top: 10px;
  pointer-events: non;
}

.comments {
  padding: 0px 30px;
  padding-left: 110px;
  padding-bottom: 60px;
}

.comments h1 {
  font-size: 1.2rem;
  font-weight: 400;
  color: black;
}

.commentinput {
  font-size: 1rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d5d5d5;
}

.commentinput:focus {
  border: none;
  border-bottom: 1px solid black;
  transition: border-bottom 0.5s 0.25s;
  outline: none;
}

.comment {
  padding: 15px 0px;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
}

.comment .dislike {
  height: 40px;
  width: 120px;
}

.commentoptions {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
}

.cancelbtn {
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 10px;
}
.cancelbtn:hover {
  background-color: #e5e5e5;
  cursor: pointer;
  border-radius: 25px;
}
.commentbtndisabled {
  background-color: #f2f2f2;
  border-radius: 25px;
  font-weight: 500;
  color: #909090;
  padding: 10px 20px;
}

.commentbtnactive {
  background-color: #0360d3;
  border-radius: 25px;
  font-weight: 500;
  color: white;
  padding: 10px 20px;
}

.commentbtnactive:hover {
  cursor: pointer;
}

.player-wrapper {
  margin-top: 100px ;
  border: 1px solid black;
  z-index: -20;
}

.thumbnail {
  height: 80vh;
  width: max-content;
  position: relative;

}