.sidebarclose {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 85px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebaropen {
  position: fixed;
  z-index: 1;
  padding-left: 10px;
  width: 230px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tags {
  font-size: 0.8rem;
}

.menudiv {
  z-index: 1;
  margin-top: 14px;
  padding: 5px;
}

.menudiv:hover {
  border-radius: 50%;
  padding: 5px;
  background-color: #d5d5d5;
}

.optionsclose {
  position: absolute;
  width: 100%;
  display: flex;
  top: 40px;
  /* height: 250px; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.optionsopen {
  position: absolute;
  display: flex;
  top: 40px;
  width: 100%;
  /* height: 30vh; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}

.optionclose {
  margin: 10px 00px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80px;
}

.optionopen {
  padding-left: 20px;

  padding: 5px;
  margin: 10px 00px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

.optionopen:hover {
  padding-left: 20px;
  padding: 5px;
  background-color: #d5d5d5;
  margin: 10px 00px;
  display: flex;
  width: 70%;
  border-radius: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 80px;
}

.optionopen .tags {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.optionclose:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 20px;
}
